conf t

{% if loopback is defined %}
interface loopback0
 ip address {{ loopback }}
{% endif %}
exit

conf t

{% if interfaces is defined %}
{% for port, value in interfaces.items() %}
interface Ethernet{{ port }}
{% if 'alias' in value %}
 description {{ value.alias }}
{% endif %}
{% if 'port_state' in value %}
 {{ value.port_state }}
{% endif %}
{% if 'address' in value %}
 ip address {{ value.address }}
{% endif %}
{% endfor %}
{% endif %}
